/*!
 * Polis Finance
 */


/* Fonts */
body {
  color: #333333;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 14px;
}




/* NavBar Formatting */
.nav-fixed-top {
  position: fixed;
  top: 0px !important;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
  padding: 0;
  background-color: #272822;
}

.site-nav {
  margin-left: 15%;
  margin-right: 15%;
}

.nav-title {
  margin-top: 16px;
  color: white;  /*alt #E6DC6D #60D9F1  */
}

.button-nav {
  font-family: 'Open Sans', sans-serif;
  margin-top: 13px;
}



/* Body Formatting */
.site-body {
  margin-top: 130px;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 0px;
  margin-bottom: 70px;
}

.site-section {
  padding-bottom: 20px;
}

.section-last {
  margin-top: 70px;
}

.img-container {

}

.img-body {
    margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 70%;
}

@media (max-width: 900px) {
  .site-body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .site-nav {
    margin-left: 5%;
    margin-right: 5%;
  }
 
 .img-body {
    width: 80%;
 }
}



footer {
  padding: 72px 0 60px;
}




